:root{
    --main-bg-color: #031525;
    --house-color: #ee8e0f;
    --door-color: #e36414;
    --door-knob-color: #000000;
}

* {
    margin: 0;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

#container {
    position: absolute;
    left:50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

#chimney, #room {
    background-color: var(--house-color);
}

#chimney, #roof, #room, #door, #door-knob, #window-left-container, #window-right-container {
    position: relative;
}

#chimney {
    width: 49px;
    height: 100px;
    z-index: 1;
    left: 2cm;
    top: 4cm;
}

#roof {  
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 200px solid var(--house-color);
}

#room {
    width: 11cm;
    height: 7cm;
    left: 42px;
    top: -1px;
}

#door {
    width: 85px;
    height: 130px;
    background-color: var(--door-color);
    left: 55mm;
    top: -149px;
}

#door-knob {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--door-knob-color);
    left: 61mm;
    top: -56mm;
}

#window-left-container {
    left: 18mm;
    top: -106mm;
}

#window-right-container {
    left: 82mm;
    top: -138mm;
}

.room-window {
    display: flex;
    background: transparent;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    max-width: 123px;
}

#window-box {
    width: 40px;
    height: 40px;
    margin: 10.391px;
    background-color: var(--main-bg-color);
}